<div class="list-group">
    <a href="/LapTopPage" class="list-group-item active sidebar">
        <span class="fa fa-desktop" area-hidden="true"></span>
        &nbsp;Laptop
    </a>
    <a href="#" class="list-group-item list-group-item-action"><span class="icofont icofont-laptop-alt" area-hidden="true"></span>&nbsp;&nbsp;Dell</a>
    <a href="#" class="list-group-item list-group-item-action"><span class="icofont icofont-laptop-alt" area-hidden="true"></span>&nbsp;&nbsp;Asus</a>
    <a href="#" class="list-group-item list-group-item-action"><span class="icofont icofont-laptop-alt" area-hidden="true"></span>&nbsp;&nbsp;Acer</a>
</div>
<div class="list-group">
    <a href="/PhonePage" class="list-group-item active sidebar">
        <span class="fa fa-tablet" area-hidden="true"></span>
        &nbsp;Smart Phone
    </a>
    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-apple" area-hidden="true"></span>&nbsp;&nbsp;Apple</a>
    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-android" area-hidden="true"></span>&nbsp;&nbsp;Nokia</a>
    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-windows" area-hidden="true"></span>&nbsp;&nbsp;Microsoft</a>
</div>
<div>
    <a href="#" class="list-group-item active sidebar">
        <span class="fa fa-certificate" area-hidden="true"></span>
        &nbsp; Hot News
    </a>
    <ul class="list-group">
        @{
            if (ViewBag.news != null)
            {
                foreach (var post in ViewBag.news)
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("ViewPost","News", new { id = post.postId })">
                            <img src="../../Images/@post.image" class="img-fluid">
                            <p class="news-title">@post.title</p>
                        </a>
                    </li>
                }
            }
        }
    </ul>
</div>
