
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

@if (ViewBag.cartItems != null)
{
    foreach (var x in ViewBag.cartItems)
    {
        <div>
            <span>@x.productID</span>
            <span>@x.quantity</span>
        </div>
    }
}

