@{
    ViewBag.Title = "Home Page";
}
<div>
    @*<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="logo" src="images/Qt_logo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <h3><a class="nav-link" href="#">QT Company</a></h3>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Laptop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Điên thoại</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đăng nhập</a>
                    </li>
                </ul>
                <div class="searchAndCart">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                        <button class="btn btn-outline-success my-2 my-sm-0 cartButton">
                            <i class="fas fa-shopping-cart"></i>
                            <asp:Button ID="Button1" runat="server" Text="Giỏ hàng" CssClass="cartButtonasp" />
                            <span>đ</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>*@
    <!--Home body-->
    <div class="container homeContent mt-3 mb-3">
        <div class="row">
            <div class="col-sm-4">
                <ul class="dropdown">
                    <li class="titleCategory" href="#"><i class="fas fa-laptop"></i><a href="#">Laptop</a></li>
                    <li class="dropdownItem" href="#"><i class="fas fa-laptop"></i><a href="#">Dell</a></li>
                    <li class="dropdownItem" href="#"><i class="fas fa-laptop"></i><a href="#">Asus</a></li>
                    <li class="dropdownItem" href="#"><i class="fas fa-laptop"></i><a href="#">Acer</a></li>
                </ul>
                <ul class="dropdown">
                    <li class="titleCategory" href="#"><i class="fas fa-laptop"></i><a href="#">Laptop</a></li>
                    <li class="dropdownItem" href="#"><i class="fas fa-laptop"></i><a href="#">Dell</a></li>
                    <li class="dropdownItem" href="#"><i class="fas fa-laptop"></i><a href="#">Asus</a></li>
                    <li class="dropdownItem" href="#"><i class="fas fa-laptop"></i><a href="#">Acer</a></li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="listProduct listLaptop">
                    <div class="listProductHeader"><i class="fas fa-th"></i>Laptop</div>
                    <div class="row">
                        <div class="oneProduct card col-sm-3">
                            <img class="card-img-top" src="images/laptop.jpeg" alt="Card image cap" />
                            <div class="card-body">
                                <p class="productTitle">Laptop future</p>
                                <p class="productPrice">$99.99</p>
                                <div class="productControl">
                                    <div class="addProductCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <hr style="margin:2px 0" />
                                    <div class="productDetailLink">
                                        <i class="fas fa-info-circle"></i>
                                        <a href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="oneProduct card col-sm-3">
                            <img class="card-img-top" src="images/laptop.jpeg" alt="Card image cap" />
                            <div class="card-body">
                                <p class="productTitle">Laptop future</p>
                                <p class="productPrice">$99.99</p>
                                <div class="productControl">
                                    <div class="addProductCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <hr style="margin:2px 0" />
                                    <div class="productDetailLink">
                                        <i class="fas fa-info-circle"></i>
                                        <a href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="oneProduct card col-sm-3">
                            <img class="card-img-top" src="images/laptop.jpeg" alt="Card image cap" />
                            <div class="card-body">
                                <p class="productTitle">Laptop future</p>
                                <p class="productPrice">$99.99</p>
                                <div class="productControl">
                                    <div class="addProductCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <hr style="margin:2px 0" />
                                    <div class="productDetailLink">
                                        <i class="fas fa-info-circle"></i>
                                        <a href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="oneProduct card col-sm-3">
                            <img class="card-img-top" src="images/laptop.jpeg" alt="Card image cap" />
                            <div class="card-body">
                                <p class="productTitle">Laptop future</p>
                                <p class="productPrice">$99.99</p>
                                <div class="productControl">
                                    <div class="addProductCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <hr style="margin:2px 0" />
                                    <div class="productDetailLink">
                                        <i class="fas fa-info-circle"></i>
                                        <a href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="listProduct listMobile">
                    <div class="listProductHeader"><i class="fas fa-th"></i>Điện thoại</div>
                    <div class="row">
                        <div class="oneProduct card col-sm-3">
                            <img class="card-img-top" src="images/laptop.jpeg" alt="Card image cap" />
                            <div class="card-body">
                                <p class="productTitle">Laptop future</p>
                                <p class="productPrice">$99.99</p>
                                <div class="productControl">
                                    <div class="addProductCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <hr style="margin:2px 0" />
                                    <div class="productDetailLink">
                                        <i class="fas fa-info-circle"></i>
                                        <a href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="oneProduct card col-sm-3">
                            <img class="card-img-top" src="images/laptop.jpeg" alt="Card image cap" />
                            <div class="card-body">
                                <p class="productTitle">Laptop future</p>
                                <p class="productPrice">$99.99</p>
                                <div class="productControl">
                                    <div class="addProductCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <hr style="margin:2px 0" />
                                    <div class="productDetailLink">
                                        <i class="fas fa-info-circle"></i>
                                        <a href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="oneProduct card col-sm-3">
                            <img class="card-img-top" src="images/laptop.jpeg" alt="Card image cap" />
                            <div class="card-body">
                                <p class="productTitle">Laptop future</p>
                                <p class="productPrice">$99.99</p>
                                <div class="productControl">
                                    <div class="addProductCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <hr style="margin:2px 0" />
                                    <div class="productDetailLink">
                                        <i class="fas fa-info-circle"></i>
                                        <a href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="oneProduct card col-sm-3">
                            <img class="card-img-top" src="images/laptop.jpeg" alt="Card image cap" />
                            <div class="card-body">
                                <p class="productTitle">Laptop future</p>
                                <p class="productPrice">$99.99</p>
                                <div class="productControl">
                                    <div class="addProductCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <a href="#">Add to cart</a>
                                    </div>
                                    <hr style="margin:2px 0" />
                                    <div class="productDetailLink">
                                        <i class="fas fa-info-circle"></i>
                                        <a href="#">More details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home body-->
</div>