@{
    ViewBag.Title = "Home Page";
}
<div>
    <!--Home body-->
    <div class="container homeContent mt-3 mb-3">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active sidebar">
                        <span class="fa fa-desktop" area-hidden="true"></span>
                        &nbsp;Laptop
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="icofont icofont-laptop-alt" area-hidden="true"></span>&nbsp;&nbsp;Dell</a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="icofont icofont-laptop-alt" area-hidden="true"></span>&nbsp;&nbsp;Asus</a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="icofont icofont-laptop-alt" area-hidden="true"></span>&nbsp;&nbsp;Acer</a>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item active sidebar">
                        <span class="fa fa-tablet" area-hidden="true"></span>
                        &nbsp;Smart Phone
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-apple" area-hidden="true"></span>&nbsp;&nbsp;Apple</a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-android" area-hidden="true"></span>&nbsp;&nbsp;Nokia</a>
                    <a href="#" class="list-group-item list-group-item-action"><span class="fa fa-windows" area-hidden="true"></span>&nbsp;&nbsp;Microsoft</a>
                </div>
                <div>
                    <a href="#" class="list-group-item active sidebar">
                        <span class="fa fa-certificate" area-hidden="true"></span>
                        &nbsp; Hot News
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="">
                                <img src="../../Images/hotnews1.jpg" class="img-fluid">
                                <p class="news-title">Đã 2018, Bạn thích ROM gốc hay ROM tùy biến hơn?</p>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="">
                                <img src="../../Images/hotnews2.jpg" class="img-fluid">
                                <p class="news-title">
                                    Nokia 8 Pro dùng vi xử lý Snapdragon 845 sắp sửa trình làng
                                </p>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="">
                                <img src="../../Images/hotnews3.jpg" class="img-fluid">
                                <p class="news-title">HMD sẽ tái sinh một dòng sản phẩm cao cấp bằng Nokia 8 Sirocco</p>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="">
                                <img src="../../Images/hotnews4.jpg" class="img-fluid">
                                <p class="news-title">Huawei HiAssistant là gì? Trợ lý ảo này mang đến lợi ích gì?</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="listProduct listLaptop">
                    <div class="listProductHeader"><i class="fas fa-th"></i>Laptop</div>
                    <div class="row">
                        @Html.Raw(ViewBag.phones)
                    </div>
                </div>
                <div class="listProduct listMobile">
                    <div class="listProductHeader"><i class="fas fa-th"></i>Điện thoại</div>
                    <div class="row">
                        @Html.Raw(ViewBag.laptops)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Home body-->
</div>