@{
    ViewBag.Title = "Home Page";
}
<div>
    <!--Home body-->
    <div class="container homeContent mt-3 mb-3">
        <div class="row">
            <div class="col-sm-4">
                <img class="card-img-top" src="../../../Content/Images/poster.jpg" alt="Card image cap" style="width:330px;" />
            </div>
            <div class="col-sm-8">
                <div class="listProduct listLaptop">
                    <div class="listProductHeader"><i class="fas fa-th"></i>Laptop</div>
                    <div class="row">
                        @Html.Raw(ViewBag.phones)
                    </div>
                </div>
                <div class="listProduct listMobile">
                    <div class="listProductHeader"><i class="fas fa-th"></i>Điện thoại</div>
                    <div class="row">
                        @Html.Raw(ViewBag.laptops)
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Home body-->
</div>