*{
}

.searchTitle {
    margin-bottom: 20px;
    font-size: 20px;
}

form.navbar-form.navbar-left {
    width: 169%;
}

div.loadMore,.searchButton {
    border: 1px solid #eee;
    padding: 6px 30px;
    border-radius: 3px;
    color: #51B7ED;
    transition: .5s;
    cursor: pointer;
}

div.loadMore:hover {
    background: #288AD6;
    color: white;
    transition:.5s;
}
.searchButton:hover{
    background: #288AD6;
    color: white;
    transition:.5s;
}



.row.d-flex.justify-content-center {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.listProductCategory {overflow: hidden;}

.allTypePhoneList ul {
    display: flex;
    justify-content: center;
}

.allTypePhoneList ul {
    padding: 0;
}

.allTypePhoneList ul li {
    display: inline-block;
    border: 1px solid #eee;
}

span#cartItemsSize {
    color: white;
    width: 30px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    background: #F36E36;
    border-radius: 50%;
    top: 5px;
    right: -16px;
}

ul.nav.navbar-nav.navbar-right {
    padding-right: 20px;
}

.cart i {color: white;font-size: 30px;}

.cart {
    float: right;
    padding-top: 20px;
    position: relative;
}

.oneProduct.card.col-sm-3 {
    border: 1px solid white;
    margin-bottom: 5px;
    transition: .5s;
    background: #e8f1fd;
}

.oneProduct.card.col-sm-3:hover {
    transform: scale(1.01);
    transition: .5s;
    box-shadow: 0px 0px 20px -5px black;
    z-index:999;
}

.productControl a {
    font-weight: bold;
}

.productControl i {
    color: red;
}

.card-body {
    padding: 0;
    margin: 10px 0;
}

p.productPrice {
    color: #587ca9;
    font-weight: bold;
    margin-bottom: 10px;
}

p.productTitle {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

i.fas.fa-th {
    margin-right: 15px;
}

.listProductHeader {
    background: #D84B6B;
    color: white;
    padding: 0 20px;
    font-weight: bold;
    width: 100%;
}

.listProductHeader a {
    color: white;
}

.listProduct {
    border: 1px solid #D84B6B;
    width: 100%;
}

.listProduct .row {
    width: 100%;
    margin: auto;
    padding: 10px 5px;
}

i.fas.fa-laptop {
    margin-right: 15px;
}

li.dropdownItem {
    border: 1px solid #eaeaea;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}

ul.dropdown {
    list-style: none;
    padding: 0;
}

li.titleCategory {
    font-size: 25px;
    color: white;
    background: #0275D8;
    height: 50px;
    padding-left: 10px;
}

li.titleCategory a {
    color: white;
}

i.fab.fa-google-plus-g {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}

i.fab.fa-facebook-f {
    font-size: 30px;
    color: white;
}

i.fab.fa-twitter {
    font-size: 30px;
    color: white;
}

.col-md-2.mx-auto.footerLogoContain {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.page-footer.font-small.indigo.bg-dark {
    color: white;
}

img.footerLogo {
    width: 100px;
}

nav.navbar .collapse {
    display: flex;
    justify-content: space-between;
}

nav.navbar .collapse ul li {
    display: flex;
    align-items: center;
}

nav.navbar .collapse ul {
    margin: 0!important;
}

.searchAndCart {
    float: right;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.searchAndCart button {
    margin-right: 5px;
}

.searchAndCart input {
    display: inline-block;
    width: 250px;
    height: inherit;
}

.cartButton .cartButtonasp {
    width: 70px;
    background: transparent;
    border: none;
    color: #69b588;
}

.navbar ul.nav.nav-tabs li {display: flex;align-items: center;}


img.logo {
    width: 50px;
}
.logo-space {
    float:left;
    margin-left: -15px;
    margin-right: 10px;
    margin-top: 5px;
}

.body-content{
    margin-top:50px;
}
.oneProduct.card.col-sm-3 img{
    width:100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}